
  .container {
    max-width: 80%;
    padding: 20px;
    display: flex;
  }


  .col-sm {
    flex: 1 1 auto;
    padding: 20px;
  }


  hr {
    border: 1px solid;
    margin: 10px 0;
  }

  .navbar-collapse.open {
    display: flex;
  }

  .flex-container {
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    border-radius: 5px;
    flex-wrap: wrap;
  }

  .p {
    flex-basis: 50%;
  }

  .attestato-link {
  color: #0056b3;
  cursor: pointer;
  text-decoration: underline;
}

/* Overlay modale */
#box {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Contenuto modale */
.w3-modal-content {
    margin: 5% auto;
    display: block;
    width: 80%;
    max-width: 900px;
    height: 80%;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Iframe interno */
.w3-modal-content iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

/* Pulsante di chiusura */
.w3-button {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.w3-button:hover {
    color: #ccc;
}

@media (max-width: 768px) {
    .w3-modal-content {
        width: 90%;
        height: 70%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .w3-modal-content {
        width: 95%;
        height: 60%;
        padding: 10px;
    }
}
